<?xml version='1.0' encoding='utf-8'?>
<widget id="com.pcps.week9lab" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>week9lab</name>
    <description>
        Week 9 Lab 1 to test the News API calling.
    </description>
    <author email="support@phonegap.com" href="http://phonegap.com">
        PhoneGap Team
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
